body {
  background: linear-gradient(black, #000066, #000066, #2288AA, #55C1DD);
  background-repeat: no-repeat;
}

html {
  min-height: 100%;
}

header {
  text-align: center;
}

input {
  border-radius: 10px;
  background-color: #004444;
  font-size: 14pt;
  font-family: monospace;
  padding-left: 10px;
}

input:hover {
  background-color: #005555;
}

label {
  color: #004444;
  font-weight: lighter;
}

button {
  border-radius: 10px;
  background-color: #004444;
  font-family: monospace;
}

button:hover {
  box-shadow: 0 10px 30px rgba(0,0,0,0.30), 0 3px 3px rgba(0,0,0,0.3);
  background-color: #00AAAA;
  transform: scale(1.1);
}

#intro {
  scrollbar-color: transparent;
}

#sortIcon {
  font-size: 18pt;
  cursor: pointer;
}

#sortIcon:hover {
  color: blue;
}

#halOuterContainer {
  box-shadow: 0 4px 40px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  background-color: #007777;
  padding: 15px;
  color: yellow;
  font-family: monospace;
  text-align: center;
  width: 480px;
  height: 500px;
}

#halInnerContainer {
  padding: 20px;
  border-radius: 40px;
  background-color: #004444;
  width: 450px;
  height: 380px;
  margin-top: 10px;
}

#halDisplay {
  text-align: left;
  background: transparent;
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 45px;
  width: 420px;
  height: 320px;
  scrollbar-color: yellow #004141;
}

.star {
  position: absolute;
  border-radius: 20%;
  animation-iteration-count: infinite;
}

@keyframes star-style-0 {
  30% {
    transform: scale(0.25);
    opacity: 0.3;
  }
}

@keyframes star-style-1 {
  50% {
    transform: scale(0.25);
    opacity: 0.1;
  }
}

@keyframes star-style-2 {
  10% {
    transform: scale(0.15);
    opacity: 0.05;
  }
}

@keyframes star-style-3 {
  80% {
    transform: scale(0.55);
    opacity: 0.7;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}